<div class="relatorios-container">
  <h2 class="titulo-pagina">Relatórios Gerenciais</h2>

  <div class="card-relatorio">
    <h3 class="titulo-card">Receitas por Período</h3>
    
    <div class="form-group">
      <label>Data Início:</label>
      <input type="date" [(ngModel)]="dataInicio">
    </div>
    
    <div class="form-group">
      <label>Data Fim:</label>
      <input type="date" [(ngModel)]="dataFim">
    </div>
    
    <button class="btn-baixar" (click)="baixarRelatorioReceitas()">
      Baixar PDF (Período)
    </button>
  </div>

  <div class="card-relatorio">
    <h3 class="titulo-card">Receitas por Categoria</h3>
    <p class="texto-ajuda">Gera o PDF com o agrupamento de valores de equipamentos.</p>
    <button class="btn-baixar" (click)="baixarRelatorioCategorias()">
      Baixar PDF (Categorias)
    </button>
  </div>
</div>